@font-face {
    font-family: relationship;
    src: url(fonts/Relationship_of_melodrame.ttf);
}

@font-face {
    font-family: canela;
    src: url(fonts/canela.otf);
}

body {
  font-family: canela;
  background: #E3D8C6;
  margin: 0;
  padding: 20px;
  text-align: center;
}
h1 {
  margin-top: 20px;
  font-family: relationship;
  font-size: 100px;
  color: #D39932;
  letter-spacing: 3px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
h2 {
  margin-top: 0px;
  font-family: canela;
  font-size: 30px;
  color: #996633;
}
#view-login, #view-signup, #view-name, #view-temp, #view-dashboard, #view-switchBox, #view-addBox, #view-feed, #view-startCycle {
  max-width: 400px;
  margin: 40px auto;
  background: #CAB592;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  background: #E3D8C6;
  font-family: canela;
  color: #996633;
}
input:focus {
    outline: 2px solid #D39932;
}
button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  color: #E3D8C6;
  background: #225D65;
  font-family: canela;
}
button:hover {
  opacity: 0.9;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #E3D8C6;
}
nav li {
  float: left;
}
nav li a {
  display: block;
  color: #996633;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  cursor: pointer;
}
nav li a img {
  width: 30px;
  height: 30px;
  display: block;
  object-fit: contain;
  margin: auto;
}
nav li a:hover {
  background-color: #CAB592;
}
nav li a.active {
  background-color: #CAB592;
}
.box-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.status {
  font-weight: bold;
  margin-bottom: 8px;
}
#logoutBtn, #cancelCycleBtn, #addBoxBtn {
  background: #E3D8C6;
  color: #996633;
  margin-top: 20px;
}
button.removeBtn {
  background: #E3D8C6;
  color: #996633;
  width: 80px;
}